@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		font-family: 'Inter', sans-serif;
		font-size: 14px;
		color: #000000;
	}
}

td {
	padding: 10px;
}

tr {
	border: 2px solid rgb(243 244 246);
}
